[Unit]
Description="Payload Service"
StartLimitAction=reboot-force
StartLimitIntervalSec=60
StartLimitBurst=5
After=updater.service home-iot-enc.mount
Wants=updater.service
Requires=home-iot-enc.mount

[Service]
Type=simple
User=root
WorkingDirectory=/home/iot/payload
ExecStart=/home/iot/payload/payload-start
ExecStop=/home/iot/payload/payload-stop
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=default.target
