[Unit]
Description="EPlayer"
StartLimitAction=reboot-force
StartLimitIntervalSec=60
StartLimitBurst=5
After=ep-update.service
Wants=ep-update.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/eplayer/music-player
ExecStart=/usr/bin/python3 /home/eplayer/music-player/eplayer.py
Restart=always
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=default.target
