[Unit]
Description="Bootstrap process"
After=boot-firmware.mount
Before=home-iot-enc.mount

[Service]
Type=oneshot
User=root
WorkingDirectory=/bin/
RemainAfterExit=yes
ExecStart=/bin/bootstrap-start
ExecStop=/bin/bootstrap-end
StandardOutput=journal

[Install]
WantedBy=multi-user.target
